div img{
width: 100%;
height: 100%;
}
@media (max-width:576px){
    /* mobil */
    .laptop, .tableta{display: none;}
}
@media(min-width:578px){
    /* tableta */
   
    .laptop, .mobil
    {display: none;}
}

@media(min-width:769px)
{
    /* laptop */
   
    .mobil, .tableta{display: none;}

}